<div class="bg">
    <div class="container">
        <div class="row">
            <div class="col-8">
                <br>
                <br>
                <h1 class="text-light">Learn Python for FREE</h1>
                <h4 class="text-light">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</h4>
                <br>
                <button mat-button>Start now</button>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
</div>
<div style="background-color: #181818;padding-top: 4rem;padding-bottom: 4rem;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="card">
                    <img src="../../assets/pylogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Python 3</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button mat-button>Enroll</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="card">
                    <img src="../../assets/pylogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Python 2</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button mat-button>Enroll</button>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-3">
                <div class="card">
                    <img src="../../assets/pylogo.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Python 3</h5>
                        <p class="card-text">Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button mat-button>Enroll</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
    <div class="container">
        <div class="row">
            <p>Footer links</p>
        </div>
    </div>
</div>