<div class="bg">
<div class="container" *ngIf="(currentUser&&user); else loggedOut">
  <div class="div" *ngIf="edit">
    <h1>{{currentUser.username | uppercase}}</h1>
    <h3>Name: {{user.name}}</h3>
    <h3>Last Name: {{user.lastName}}</h3>
    <h3>e-mail: {{ currentUser.email }}</h3>
    <h3>Points: {{ user.points }}</h3>
    <button color="accent" (click)="editProfile()" mat-button>Edit</button>
  </div>
  <div class="div" *ngIf="!edit">
    <h1>{{currentUser.username | uppercase}}</h1>
    
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
  
      <label>
        First Name:
        <input type="text" formControlName="name">
      </label>
    
      <label>
        Last Name:
        <input type="text" formControlName="lastName">
      </label>
    
    </form>
    <button (click)="onSubmit()" mat-button>Save</button>
    <button (click)="editProfile()" mat-button>Discard</button>    
  </div>

</div>




<ng-template #loggedOut>
  Please login.
</ng-template>
</div>