<div class="example-container">
    <div class="box">
        <mat-tab-group>
            <mat-tab label="Login">
                <mat-form-field appearance="fill">
                    <mat-label>e-mail</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>password</mat-label>
                    <input matInput>
                </mat-form-field>
            </mat-tab>
            <mat-tab label="Register">
                <mat-form-field appearance="fill">
                    <mat-label>Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Last Name</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>e-mail</mat-label>
                    <input matInput>
                </mat-form-field>
                <br>
                <mat-form-field appearance="fill">
                    <mat-label>Password</mat-label>
                    <input matInput>
                </mat-form-field>

            </mat-tab>
        </mat-tab-group>
    </div>
</div>