<mat-toolbar color="primary">
  <div class="content">
    <div class="brand">
      <a routerLink="">pyFactory </a>
    </div>
    <ul routerLinkActive="active">
      <li>
        <a class="nav-link" routerLink="tecaj" *ngIf="isLoggedIn">Tecaj</a>
      </li>
    </ul>
  </div>
  <div class="user">
    <ul *ngIf="!isLoggedIn">
      <li>
        <a class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li>
        <a routerLink="login">Login</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn">
      <li *ngIf="points">
       <span id="xp">Exp: {{points}}</span>
      </li>
      <li>
        <a class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li>
        <a routerLink="" (click)="logout()">LogOut</a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
