<mat-toolbar color="primary">
  <div class="content">
    <div class="brand">
      <a routerLink="home">pyFactory </a>
    </div>
    <ul routerLinkActive="active">
      <li>
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="user">Examples</a>
      </li>
      <li>
        <a class="nav-link" *ngIf="isLoggedIn" routerLink="user">Full tecaj</a>
      </li>
    </ul>
  </div>
  <div class="user">
    <ul *ngIf="!isLoggedIn">
      <li>
        <a class="nav-link" routerLink="register">Sign Up</a>
      </li>
      <li>
        <a routerLink="login">Login</a>
      </li>
    </ul>
    <ul *ngIf="isLoggedIn">
      <li>
        Exp: {{points}}
      </li>
      <li>
        <a class="nav-link" routerLink="profile">{{ username }}</a>
      </li>
      <li>
        <a (click)="logout()">LogOut</a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>