<div class="container">
    <h1>Moj trenutni level: {{exp}}</h1>
    <button (click)="addExp()">Add</button><button (click)="resetExp()">Reset</button>
<mat-grid-list cols="4" rowHeight="100px">
    <mat-grid-tile [ngStyle]="{'background-color':tutorials[0].level <= exp ? 'green' : 'red' }">
       <h1>{{tutorials[0].title}}</h1><br>
       <p><br><br>Potreban je lvl {{tutorials[0].level}}</p>
    </mat-grid-tile>
    <mat-grid-tile [ngStyle]="{'background-color':tutorials[1].level <= exp ? 'green' : 'red' }">
        <h1>{{tutorials[1].title}}</h1>
        <p><br><br>Potreban je lvl {{tutorials[1].level}}</p>
     </mat-grid-tile>
     <mat-grid-tile [ngStyle]="{'background-color':tutorials[2].level <= exp ? 'green' : 'red' }">
        <h1>{{tutorials[2].title}}</h1><br>
        <p><br><br>Potreban je lvl {{tutorials[2].level}}</p>
     </mat-grid-tile>
     <mat-grid-tile [ngStyle]="{'background-color':tutorials[3].level <= exp ? 'green' : 'red' }">
        <h1>{{tutorials[3].title}}</h1><br>
        <p><br><br>Potreban je lvl {{tutorials[3].level}}</p>
     </mat-grid-tile>
</mat-grid-list>
</div>
<p>it works</p>